@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-morado-scorpios: #1c095b;
  --color-morado-scorpios-light: #342659;
  --color-gris-scorpios: #eef0f2;
  --color-gris-scorpios-dark: #b9c0c7;
  --background-image-patron: url('/patron.svg');
  --text-4xl-plus: 2rem;
}
